# WAJIB — mata Robot Pencocok
GEMINI_API_KEY=
GEMINI_MODEL=gemini-flash-latest
# alamat publik aplikasi (dipakai untuk link gambar & frames). Di dalam jaringan docker n8n boleh pakai http://youtube-transkrip:3000
APP_BASE_URL=http://youtube-transkrip:3000
# opsional
SUPADATA_API_KEY=
GOOGLE_CLIENT_ID=
DRIVE_FOLDER_NAME=materi apgred
